<%- include("./partial/header") %>
<div class="container">
    <div class="row">
      <div class="col">
        <h1>Choose a room</h1>
  
        <ul>
          <% for(var a = 0; a<rooms.length; a++) { %>
            <li><a href="/choose-room/<%= a %>" class="link-primary"><%= rooms[a] %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
<%- include("./partial/footer") %>
  
