<%- include("./partial/header") %>
<div class="container">
    <div class="row">
      <div class="col">
        <h1>Choose a room</h1>
  
        <ul>
          <%rooms.map((room)=>{%>
            <li><a href="/choose-room/<%= room._id %>" class="link-primary"><%= room.roomName %></a></li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
<%- include("./partial/footer") %>