<div class="col-lg-4 col-md-6">
    <div class="blog-item set-bg" data-setbg="../img/blog/blog-1.jpg">
        <div class="bi-text">
            <span class="b-tag">Travel Trip</span>
            <h4><a href="/blog-details">Tremblant In Canada</a></h4>
            <div class="b-time"><i class="icon_clock_alt"></i> 15th April, 2019</div>
        </div>
    </div>
</div>